<table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mail </th>
    <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
  </ng-container>

  <ng-container matColumnDef="nachname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nachname </th>
    <td mat-cell *matCellDef="let element"> {{element.nachname}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="vorname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
    <td mat-cell *matCellDef="let element"> {{element.vorname}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
