<mat-toolbar id="mainToolbar" [ngStyle]="{'background-color': '#B80000', 'color': 'white'}">
  {{navBarTitle}}
  <span class="toolbar-spacer"></span>

  <mat-label *ngIf="isAuthenticated" style="padding-right: 15px;">{{userName}}</mat-label>

  <mat-icon
  style="margin-right: 5px; margin-left: 5px;"
  *ngIf="isAuthenticated"
  routerLink="einstellungen"
  (click)="changeNavBarTitle('Einstellungen')"
  class="toolbar-icon"
  matTooltip="Einstellungen"
  matTooltipPosition="left"
  >settings</mat-icon>

  <mat-icon
    style="margin-right: 30px; margin-left: 10px;"
    *ngIf="isAuthenticated"
    routerLink="post"
    (click)="changeNavBarTitle('Mitteilungen')"
    class="toolbar-icon"
    matBadgePosition="above after"
    [matBadge]="this.postService.badgeCount"
    matBadgeColor="warn"
    matBadgeOverlap="true"
    matTooltip="Mitteilungen"
    matTooltipPosition="right"
  >notifications</mat-icon>

  <div class="v1"></div>

  <button mat-button (click)="login()" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>

  <button mat-button (click)="logout()" *ngIf="isAuthenticated">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>

</mat-toolbar>

<mat-sidenav-container
  id="sidenavContainer"
 fullscreen>
  <mat-sidenav
    mode="side"
    #sidenav
    id="sidenav"
    opened>

    <mat-list id="menus">
      <mat-list-item>
        <button
          *ngIf="isAuthenticated && (userRole == 'Administrator' || userRole == 'Vermittler' || userRole == 'User')"
          (click)="changeNavBarTitle('Dashboard')"
          routerLink="dashboard"
          routerLinkActive="active-list-item"
          class="menu-item"
          matTooltip="Dashboard"
          matTooltipPosition="right"
          mat-flat-button>
          <mat-icon>dashboard</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item>
          <button
            *ngIf="isAuthenticated && (userRole == 'Administrator' || userRole == 'Vermittler')"
            (click)="changeNavBarTitle('Skillverwaltung')"
            routerLink="skillverwaltung"
            routerLinkActive="active-list-item"
            class="menu-item"
            matTooltip="Skillverwaltung"
            matTooltipPosition="right"
            mat-flat-button>
            <mat-icon>book</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item>
          <button
            *ngIf="isAuthenticated && (userRole == 'Administrator' || userRole == 'Vermittler')"
            (click)="changeNavBarTitle('Selektieren')"
            routerLink="selektieren"
            routerLinkActive="active-list-item"
            class="menu-item"
            matTooltip="Selektieren"
            matTooltipPosition="right"
            mat-flat-button>
              <mat-icon>mediation</mat-icon>
          </button>
        </mat-list-item>

        <mat-list-item>
          <button
            *ngIf="isAuthenticated && (userRole == 'Administrator')"
            (click)="changeNavBarTitle('Benutzerverwaltung')"
            routerLink="benutzerverwaltung"
            routerLinkActive="active-list-item"
            class="menu-item"
            matTooltip="Benutzerverwaltung"
            matTooltipPosition="right"
            mat-flat-button>
              <mat-icon>people</mat-icon>
          </button>
        </mat-list-item>


        <mat-list-item>
          <button
            *ngIf="isAuthenticated && (userRole == 'Administrator')"
            (click)="changeNavBarTitle('Logs')"
            routerLink="logs"
            routerLinkActive="active-list-item"
            class="menu-item"
            matTooltip="Logs"
            matTooltipPosition="right"
            mat-flat-button>
              <mat-icon>wysiwyg</mat-icon>
          </button>
        </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

