<mat-toolbar [ngStyle]="{'background-color': '#B80000'}">
  <span [ngStyle]="{'color': 'white', 'font-size': '15px'}">Wirklich schließen?</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button  tabIndex="-1" (click)="onYes()"><mat-icon [ngStyle]="{'color': 'white'}">clear</mat-icon></button>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile>
    <div class="controles-container">
        <mat-label>Alle Änderungen gehen verloren!</mat-label>
        <br>
        <br>
        <button mat-raised-button (click)="onNo()" class="green" [ngStyle]="{'float': 'right', 'margin-top': '0px', 'margin-right': '10px'}">Nein</button>
        <button mat-raised-button (click)="onYes()" class="red" [ngStyle]="{'float': 'right', 'margin-top': '0px', 'margin-right': '10px'}">Ja</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
