.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
  }

  .add-bottom-padding{
      padding-bottom: 10px;
  }
  /* radio group */
mat-radio-group mat-radio-button{
  margin-left: 5px;
}

.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  margin-top: 0px;
  table-layout: fixed;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-paginator {
  width: 100%;

}

div {
  width: 98%;
  margin-left:auto;
  margin-right:auto;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

