<div class="search-div">
  <mat-form-field *ngIf="userRole == 'Vermittler' || userRole == 'Administrator'">
    <mat-label>User</mat-label>
    <mat-select (selectionChange)="onSelectUserChange()" [(ngModel)]="selectUser">
      <mat-option *ngFor="let user of users" [value]="user.user_id">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-label *ngIf="userRole == 'User'" [ngStyle]="{'padding-left': '10px', 'font-weight': 'bold', 'font-size': '18px'}">{{ userName }}</mat-label>

  <mat-label style="margin-left: 40px;"><b>Filtern:</b></mat-label>

  <mat-form-field style="margin-left: 15px;">
    <mat-select placeholder="Status" [formControl]="statusFilter">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let sta of status" [value]="sta.status">{{sta.status}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="margin-left: 15px;">
    <mat-select placeholder="Bereich" [formControl]="bereichFilter">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let ber of bereich" [value]="ber.bereich">{{ber.bereich}}</mat-option>
    </mat-select>
  </mat-form-field>

   <mat-form-field style="margin-left: 15px;">
    <mat-label>Skill</mat-label>
    <input matInput [formControl]="skillFilter">
  </mat-form-field>

  <mat-form-field style="margin-left: 15px;">
    <mat-select placeholder="Vermittler" [formControl]="vermittlerFilter">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let ver of vermittler" [value]="ver.nachname">{{ver.nachname}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-label style="margin-left: 80px; margin-right: 15px; color: black; font-size: 15px;"><b>Ziel: {{gesamt}} </b></mat-label>
  <mat-label style="margin-left: 10px; margin-right: 15px; color: red; font-size: 15px;"><b>Offen: {{offen}} </b></mat-label>
  <mat-label style="margin-left: 10px; margin-right: 15px; color: darkorange; font-size: 15px;"><b>Bearbeitung: {{bearbeitung}} </b></mat-label>
  <mat-label style="margin-left: 10px; color: green; font-size: 15px;"><b>Erledigt: {{erledigt}}(+ {{erledigtDiff}} weitere Skills)</b></mat-label>

  <button mat-icon-button style="float: right; color: red" matTooltip="Export als PDF" matTooltipPosition="left" (click)="print()"><mat-icon>picture_as_pdf</mat-icon></button>


</div>


<div class="mat-elevation-z8">
<table mat-table [dataSource]="datasource" matSort>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.status == 'Offen' && userRole == 'User'" [ngStyle]="{'color': 'red', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="Offen" matTooltipPosition="right"> brightness_1 </mat-icon>
      <mat-icon *ngIf="element.status == 'In Bearbeitung' && userRole == 'User'" [ngStyle]="{'color': 'darkorange', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="In Bearbeitung" matTooltipPosition="right"> brightness_1 </mat-icon>
      <mat-icon *ngIf="element.status == 'In Bearbeitung (Warte auf Abschluss)' && userRole == 'User'" [ngStyle]="{'color': '#D4DB05', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="In Bearbeitung (Warte auf Abschluss)" matTooltipPosition="right"> brightness_1 </mat-icon>
      <mat-icon *ngIf="element.status == 'Erledigt' && userRole == 'User'" [ngStyle]="{'color': 'darkgreen', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="Erledigt" matTooltipPosition="right"> brightness_1 </mat-icon>

      <button mat-icon-button  matTooltip="Offen" matTooltipPosition="right"
              *ngIf="element.status == 'Offen' && (userRole == 'Administrator' || userRole == 'Vermittler')" (click)="onStatusChange(element)">
        <mat-icon [ngStyle]="{'color': 'red', 'justify-content': 'center', 'padding-top': '5px'}">brightness_1</mat-icon>
      </button>
      <button mat-icon-button  matTooltip="In Bearbeitung" matTooltipPosition="right" *ngIf="element.status == 'In Bearbeitung' && (userRole == 'Administrator'
                               || userRole == 'Vermittler')" (click)="onStatusChange(element)">
        <mat-icon [ngStyle]="{'color': 'darkorange', 'justify-content': 'center', 'padding-top': '5px'}">brightness_1</mat-icon>
      </button>
      <button mat-icon-button  matTooltip="In Bearbeitung (Warte auf Abschluss)" matTooltipPosition="right" *ngIf="element.status == 'In Bearbeitung (Warte auf Abschluss)' &&
                                          (userRole == 'Administrator' || userRole == 'Vermittler')" (click)="onStatusChange(element)">
        <mat-icon [ngStyle]="{'color': '#D4DB05', 'justify-content': 'center', 'padding-top': '5px'}">brightness_1</mat-icon>
      </button>
      <button mat-icon-button  matTooltip="Erledigt" matTooltipPosition="right" *ngIf="element.status == 'Erledigt' && (userRole == 'Administrator'
                                        || userRole == 'Vermittler')" (click)="onStatusChange(element)">
        <mat-icon [ngStyle]="{'color': 'darkgreen', 'justify-content': 'center', 'padding-top': '5px'}"> brightness_1 </mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="bereich">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bereich </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.bereich == 'Allgemeines Wissen'" [ngStyle]="{'color': 'black', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="Allgemeines Wissen" matTooltipPosition="right"> public </mat-icon>
      <mat-icon *ngIf="element.bereich == 'anyWARE-interne Themen'" [ngStyle]="{'color': 'red', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="anyWARE-interne Themen" matTooltipPosition="right"> wb_auto </mat-icon>
      <mat-icon *ngIf="element.bereich == 'Technische Themen'" [ngStyle]="{'color': 'blue', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="Technische Themen" matTooltipPosition="right"> text_fields </mat-icon>
      <mat-icon *ngIf="element.bereich == 'Kaufmännische Themen'" [ngStyle]="{'color': 'darkorange', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="Kaufmännische Themen" matTooltipPosition="right"> local_grocery_store </mat-icon>
      <mat-icon *ngIf="element.bereich == 'IHK-Vorgabe'" [ngStyle]="{'color': 'darkgreen', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="IHK-Vorgabe" matTooltipPosition="right"> account_balance </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="skill">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill </th>
    <td mat-cell *matCellDef="let element"> {{element.skill}} </td>
  </ng-container>

  <ng-container matColumnDef="zeitpunkt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]="'Jahr.Halbjahr'"> Startzeitraum </th>
    <td mat-cell *matCellDef="let element"> {{element.zeitpunkt}} </td>
  </ng-container>

  <ng-container matColumnDef="endzeitpunkt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]="'Jahr.Halbjahr'"> Endzeitraum </th>
    <td mat-cell *matCellDef="let element"> {{element.endzeitpunkt}} </td>
  </ng-container>

  <ng-container matColumnDef="zeitaufwand">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Zeitaufwand </th>
    <td mat-cell *matCellDef="let element"> {{element.zeitaufwand}} </td>
  </ng-container>

  <ng-container matColumnDef="vermittler" *ngIf="userRole == 'User'">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vermittler </th>
    <td mat-cell *matCellDef="let element"> {{element.vermittler}} </td>
  </ng-container>

  <ng-container matColumnDef="vermittler" *ngIf="userRole == 'Vermittler' || userRole == 'Administrator'">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vermittler </th>
    <td mat-cell *matCellDef="let element">
        <mat-select (selectionChange)="onSelectVermittlerChange(element, $event.value)" [ngModel]="element.verID">
          <mat-option *ngFor="let ver of vermittler" [value]="ver.user_id">{{ver.nachname}}</mat-option>
        </mat-select>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button *ngIf="userRole == 'Vermittler' || userRole == 'Administrator'" (click)="onEdit(row)" matTooltip="Bearbeiten" matTooltipPosition="left" style="color: darkorange;"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button *ngIf="userRole == 'User'" (click)="onEdit(row)" matTooltip="Details" matTooltipPosition="left"><mat-icon>launch</mat-icon></button>
      <button *ngIf="row.linkAnzahl > 0" mat-icon-button (click)="onLink(row)" matTooltip="Links" matTooltipPosition="right">
        <mat-icon *ngIf="row.linkAnzahl > 0"  matBadgeColor="primary" matBadgeOverlap="true" matBadgePosition="above after" matBadgeSize="small" matBadge="">link</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="loading">
    <mat-header-cell *matFooterCellDef colspan="6">
      Loading Data...
    </mat-header-cell>
  </ng-container>

  <ng-container matColumnDef="noData">
    <mat-header-cell *matFooterCellDef colspan="6">
      No data.
    </mat-header-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'row-color-false': row.status_id > 1 && row.ueberschritten == 'false','row-color-true' : row.status_id == 1 && row.ueberschritten == 'true', 'row-color-end' : row.status_id < 4 && row.ueberschritten == 'end'}">
  </tr>

  <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource != null}"></mat-footer-row>
  <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(datasource != null && datasource.data.length == 0)}"></mat-footer-row>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100, 150]" [pageSize]="50" showFirstLastButtons> </mat-paginator>

</div>
