<div class="search-div">
  <button mat-raised-button class="green" style="width: auto; margin-right: 40px;" (click)="onNew()">
    <mat-icon>add</mat-icon>Neuer Skill
  </button>

<!--
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Filtern" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
-->

  <mat-label><b>Filtern:</b></mat-label>

  <mat-form-field style="margin-left: 15px;">
    <mat-select placeholder="Bereich" [formControl]="bereichFilter">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let ber of bereich" [value]="ber.bereich">{{ber.bereich}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="margin-left: 15px;">
    <mat-label>Skill</mat-label>
    <input matInput [formControl]="skillFilter">
  </mat-form-field>

  <mat-form-field style="margin-left: 15px;">
    <mat-select placeholder="Vermittler" [formControl]="vermittlerFilter">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let ver of users" [value]="ver.nachname">{{ver.nachname}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-icon-button style="float: right; color: red" matTooltip="Export als PDF" matTooltipPosition="left" (click)="print()"><mat-icon>picture_as_pdf</mat-icon></button>

</div>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="datasource" matSort>

  <ng-container matColumnDef="bereich">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bereich </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.bereich == 'Allgemeines Wissen'" [ngStyle]="{'color': 'black', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="Allgemeines Wissen" matTooltipPosition="right"> public </mat-icon>
      <mat-icon *ngIf="element.bereich == 'anyWARE-interne Themen'" [ngStyle]="{'color': 'red', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="anyWARE-interne Themen" matTooltipPosition="right"> wb_auto </mat-icon>
      <mat-icon *ngIf="element.bereich == 'Technische Themen'" [ngStyle]="{'color': 'blue', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="Technische Themen" matTooltipPosition="right"> text_fields </mat-icon>
      <mat-icon *ngIf="element.bereich == 'Kaufmännische Themen'" [ngStyle]="{'color': 'darkorange', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="Kaufmännische Themen" matTooltipPosition="right"> local_grocery_store </mat-icon>
      <mat-icon *ngIf="element.bereich == 'IHK-Vorgabe'" [ngStyle]="{'color': 'darkgreen', 'justify-content': 'center', 'padding-top': '5px'}"
                 matTooltip="IHK-Vorgabe" matTooltipPosition="right"> account_balance </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="skill">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill</th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'font-size': '12px'}"> {{element.skill}} </td>
  </ng-container>

  <ng-container matColumnDef="zeitpunkt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]="'Jahr.Halbjahr'"> Startzeitraum </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'font-size': '12px'}"> {{element.zeitpunkt}} </td>
  </ng-container>

  <ng-container matColumnDef="endzeitpunkt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]="'Jahr.Halbjahr'"> Endzeitraum </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'font-size': '12px'}"> {{element.endzeitpunkt}} </td>
  </ng-container>

  <ng-container matColumnDef="zeitaufwand">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Zeitaufwand </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'font-size': '12px'}"> {{element.zeitaufwand}} </td>
  </ng-container>

  <ng-container matColumnDef="nachname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vermittler</th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'font-size': '12px'}"> {{element.nachname}} </td>
  </ng-container>

  <ng-container matColumnDef="rolle">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rolle </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'font-size': '12px'}"> {{element.rolle}} </td>
  </ng-container>

  <ng-container matColumnDef="kategorie">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Kategorie </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'font-size': '9px'}"> {{element.kategorie}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="onEdit(row)" matTooltip="Bearbeiten" matTooltipPosition="left"><mat-icon>launch</mat-icon></button>
      <button mat-icon-button (click)="onLink(row)" matTooltip="Links" matTooltipPosition="right"><mat-icon>link</mat-icon></button>
      <button mat-icon-button (click)="onSkillStatusInfo(row)" style="color: blue" matTooltip="Skillstatus der User anzeigen" matTooltipPosition="right"><mat-icon>playlist_add_check</mat-icon></button>
      <button mat-icon-button (click)="onDelete(row)" color="warn" matTooltip="Löschen" matTooltipPosition="right"><mat-icon>delete_outline</mat-icon></button>
    </td>
  </ng-container>

  <ng-container matColumnDef="loading">
    <mat-header-cell *matFooterCellDef colspan="6">
      Loading Data...
    </mat-header-cell>
  </ng-container>

  <ng-container matColumnDef="noData">
    <mat-header-cell *matFooterCellDef colspan="6">
      No data.
    </mat-header-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>

  <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource != null}"></mat-footer-row>
  <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(datasource != null && datasource.data.length == 0)}"></mat-footer-row>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100, 150]" [pageSize]="50" showFirstLastButtons> </mat-paginator>

</div>
