<mat-toolbar [ngStyle]="{'background-color': '#B80000'}">
  <span [ngStyle]="{'color': 'white'}" *ngIf="selectedItemName">{{selectedItemName}}</span>
  <span [ngStyle]="{'color': 'white'}" *ngIf="!selectedItemName">Neuer Skill</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onExit()" tabIndex="-1"><mat-icon [ngStyle]="{'color': 'white'}">clear</mat-icon></button>
</mat-toolbar>

<form [formGroup]="skillService.form" class="normal-form">
  <mat-grid-list cols="2" rowHeight="580px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="skill" matInput placeholder="Skill*">
          <mat-error>Pflichtfeld.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="zeitaufwand" matInput placeholder="Zeitaufwand* (z.B. 1 Stunde)">
          <mat-error>Pflichtfeld.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="zeitpunkt_id" placeholder="Startzeitraum (Jahr.Halbjahr)*">
            <mat-option *ngFor="let zeit of zeitpunkt" [value]="zeit.zeitpunkt_id">{{zeit.zeitpunkt}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="endzeitpunkt_id" placeholder="Endzeitraum (Jahr.Halbjahr)*">
            <mat-option *ngFor="let zeit of endzeitpunkt" [value]="zeit.endzeitpunkt_id">{{zeit.endzeitpunkt}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select [(ngModel)]="selected" multiple placeholder="Kategorie*" [ngModelOptions]="{standalone: true}" style="font-size: small">
            <mat-option *ngFor="let cat of category" [value]="cat.kategorie_id"> {{cat.kategorie}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="bereich_id" placeholder="Bereich*">
            <mat-option *ngFor="let ber of bereich" [value]="ber.bereich_id">{{ber.bereich}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="vermittler_id" placeholder="Vermittler*">
            <mat-option *ngFor="let ver of vermittler" [value]="ver.user_id">{{ver.nachname}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="height: 100%;">
          <textarea formControlName="lernziel" matInput matInput rows="7"  placeholder="Lernziel*"></textarea>
          <mat-error>Pflichtfeld.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>

      <div class="controles-container">
        <mat-form-field style="margin-top: 15px;">
          <textarea formControlName="inhalt" matInput rows="24" placeholder="Inhalt*"></textarea>
          <mat-error>Pflichtfeld.</mat-error>
        </mat-form-field>
        <mat-form-field >
          <textarea formControlName="nachweis" matInput rows="5" placeholder="Nachweis*"></textarea>
          <mat-error>Pflichtfeld.</mat-error>
        </mat-form-field>
        <div class="button-row">
          <button *ngIf="!selectedItemName" mat-raised-button type="submit" [disabled]="skillService.form.invalid || selected.length == 0" (click)="onSubmit()"
                  class="green" [ngStyle]="{'float': 'right', 'margin-top': '0px'}">Speichern</button>
          <button *ngIf="selectedItemName" mat-raised-button type="submit" [disabled]="skillService.form.invalid || selected.length == 0" (click)="onSubmit()"
                  class="green" [ngStyle]="{'float': 'right', 'margin-top': '0px'}">Speichern</button>
          <button mat-raised-button (click)="onExit()" class="red" [ngStyle]="{'float': 'right', 'margin-top': '0px', 'margin-right': '10px'}">Abbrechen</button>

        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>

